public/category.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 (http://www.altova.com)-->
<!ELEMENT url (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT small_price (#PCDATA)>
<!ELEMENT search (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT products ((product))>
<!ATTLIST products
	category_id CDATA #REQUIRED
	category_name CDATA #REQUIRED
>
<!ELEMENT product_id (#PCDATA)>
<!ELEMENT product ((product_id, title, description, rating, small_price, price, image))>
<!ELEMENT price (#PCDATA)>
<!ELEMENT parent_category ((category_id, category_name))>
<!ELEMENT params ((param+))>
<!ELEMENT param ((option+))>
<!ATTLIST param
	current_value CDATA #REQUIRED 
	param_name CDATA #REQUIRED
	title CDATA #REQUIRED
>
<!ELEMENT option (#PCDATA)>
<!ATTLIST option
	value CDATA #REQUIRED
>
<!ELEMENT mvideo_xml ((search?, action?, parent_category, categories?, params?, products*))>
<!ATTLIST mvideo_xml
	date CDATA #REQUIRED
>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	height CDATA #REQUIRED
	width CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>
<!ELEMENT category_name (#PCDATA)>
<!ELEMENT category_id (#PCDATA)>
<!ELEMENT category_icon (#PCDATA)>
<!ATTLIST category_icon
	height CDATA #REQUIRED
	width CDATA #REQUIRED
>
<!ELEMENT category ((category_id, category_name, amount, category_icon))>
<!ELEMENT categories ((category+))>
<!ATTLIST categories
	category_id CDATA #REQUIRED
	category_name CDATA #REQUIRED
>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT action ((image, description, url))>
