public/dsf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="startpage_name">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="startpage">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="startpage_name"/>
					<xs:element ref="image"/>
					<xs:element ref="action_id"/>
					<xs:element ref="action_name"/>
					<xs:element ref="action_cond"/>
					<xs:element ref="action_url"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mvideo_xml">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="startpage" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="date" fixed="d{4}-d{2}-d{2}Td{2}:d{2}:d{2}+04:00" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType mixed="true">
			<xs:attribute name="height" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="width" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="action_url">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="action_name">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="action_id">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="action_cond">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
