public/polls1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT polls ((poll+))>
<!ELEMENT poll_url (#PCDATA)>
<!ELEMENT poll_name (#PCDATA)>
<!ELEMENT poll_id (#PCDATA)>
<!ELEMENT poll ((poll_id, poll_name, poll_url))>
<!ATTLIST poll
	end CDATA #FIXED "6106-01-14T16:40:00+03:00"
	start CDATA #FIXED "1970-01-01T03:00:00+03:00"
>
<!ELEMENT mvideo_xml ((polls))>
<!ATTLIST mvideo_xml
	date CDATA #FIXED "2011-05-12T17:34:36+04:00"
>
