public/product.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 (http://www.altova.com)-->
<!ELEMENT value (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT small_price (#PCDATA)>
<!ELEMENT reviews_num (#PCDATA)>
<!ELEMENT region_id (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT product_id (#PCDATA)>
<!ELEMENT product ((product_id, region_id, title, small_price, price, rating, reviews_num, description, options))>
<!ELEMENT price (#PCDATA)>
<!ELEMENT options ((option+))>
<!ELEMENT option ((name, value))>
<!ELEMENT name (#PCDATA)>
<!ELEMENT mvideo_xml ((product))>
<!ATTLIST mvideo_xml
	date CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>
