public/region.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 (http://www.altova.com)-->
<!ELEMENT regions ((region+))>
<!ELEMENT region_name (#PCDATA)>
<!ELEMENT region_id (#PCDATA)>
<!ELEMENT region ((region_id, region_name, coordinates))>
<!ELEMENT mvideo_xml ((regions)) >
<!ATTLIST mvideo_xml date CDATA  "YYYY-MM-DD hh:mm:ss">
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT coordinates ((longitude, latitude))>
