public/shops.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 (http://www.altova.com)-->
<!ELEMENT zoom (#PCDATA)>
<!ELEMENT wayTo (#PCDATA)>
<!ELEMENT shops ((shop+))>
<!ATTLIST shops
	region_id CDATA #REQUIRED
>
<!ELEMENT shop_name (#PCDATA)>
<!ELEMENT shop_id (#PCDATA)>
<!ELEMENT shop ((shop_id, shop_name, metro, address, day_hours, holiday_hours, phone, coordinates, wayTo, zoom, images))>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT mvideo_xml ((shops+))>
<!ATTLIST mvideo_xml
	date CDATA #REQUIRED
>
<!ELEMENT metro ((station+))>
<!ELEMENT station (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT images ((image))>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	height CDATA  ""
	width CDATA  ""
>
<!ELEMENT holiday_hours (#PCDATA)>
<!ELEMENT day_hours (#PCDATA)>
<!ELEMENT coordinates ((longitude, latitude))>
<!ELEMENT address (#PCDATA)>
