public/start.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT mvideo_xml ((startpage+))>
<!ATTLIST mvideo_xml date CDATA #REQUIRED>
<!ELEMENT startpage ((startpage_name, image, action_id, action_name, action_cond, action_url))>
<!ELEMENT startpage_name (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image height CDATA #REQUIRED width  CDATA #REQUIRED>
<!ELEMENT action_url (#PCDATA)>
<!ELEMENT action_name (#PCDATA)>
<!ELEMENT action_id (#PCDATA)>
<!ELEMENT action_cond (#PCDATA)>
