public/start.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT startpage_name (#PCDATA)>
<!ELEMENT startpage ((startpage_name, image, action_id, action_name, action_cond, action_url))>
<!ELEMENT mvideo_xml ((startpage+))>
<!ATTLIST mvideo_xml date CDATA #FIXED "CCYY-MM-DDThh:mmTZD">
<!ELEMENT image (#PCDATA)>
<!ATTLIST image height (d) #REQUIRED width (d) #REQUIRED>
<!ELEMENT action_url (#PCDATA)>
<!ELEMENT action_name (#PCDATA)>
<!ELEMENT action_id (#PCDATA)>
<!ELEMENT action_cond (#PCDATA)>
