public/start.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT mvideo_xml ((startpage)) >
<!ATTLIST mvideo_xml date CDATA  "YYYY-MM-DD hh:mm:ss">
<!ELEMENT startpage ((name, banner_img, action_name, action_id))>
<!ELEMENT name (#PCDATA)>
<!ELEMENT banner_img (#PCDATA)>
<!ELEMENT action_name (#PCDATA)>
<!ELEMENT action_id (#PCDATA)>